workflows/phase3_processing.json
{
  "name": "Media Pulse - Phase 3 Processing",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "schedule-trigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.pending" },
            { "name": "limit", "value": "1" },
            { "name": "order", "value": "created_at.asc" },
            { "name": "select", "value": "id,url,content_type,status,chat_id" }
          ]
        },
        "options": { "splitIntoItems": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "id": "fetch-pending",
      "name": "Supabase: Fetch Pending"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{
            "id": "check-pending",
            "leftValue": "={{ $json.id }}",
            "rightValue": "",
            "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300],
      "id": "if-any-pending",
      "name": "IF: Any Pending?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'fetching' }) }}",
        "options": { "splitIntoItems": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "id": "claim-row",
      "name": "Supabase: Claim Row"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://extraction:8000/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, content_type: $json.content_type }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "id": "extract-content",
      "name": "Extraction: Extract Content",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?id=eq.{{ $node[\"Supabase: Claim Row\"].json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, author: $json.author, raw_content: $json.raw_content, metadata: $json.metadata, status: 'processing' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200],
      "id": "update-source",
      "name": "Supabase: Update Source"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://extraction:8000/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_id: $node[\"Supabase: Claim Row\"].json.id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200],
      "id": "process-source",
      "name": "Extraction: Process",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://extraction:8000/link",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_id: $node[\"Supabase: Claim Row\"].json.id }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 200],
      "id": "link-source",
      "name": "Extraction: Link"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?id=eq.{{ $node[\"Supabase: Claim Row\"].json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', error_message: ($json.error && $json.error.message) ? $json.error.message.substring(0, 500) : 'Workflow execution error — check n8n execution logs.' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 440],
      "id": "mark-failed",
      "name": "Supabase: Mark Failed"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Supabase: Fetch Pending", "type": "main", "index": 0 }]]
    },
    "Supabase: Fetch Pending": {
      "main": [[{ "node": "IF: Any Pending?", "type": "main", "index": 0 }]]
    },
    "IF: Any Pending?": {
      "main": [
        [{ "node": "Supabase: Claim Row", "type": "main", "index": 0 }],
        []
      ]
    },
    "Supabase: Claim Row": {
      "main": [[{ "node": "Extraction: Extract Content", "type": "main", "index": 0 }]]
    },
    "Extraction: Extract Content": {
      "main": [
        [{ "node": "Supabase: Update Source", "type": "main", "index": 0 }],
        [{ "node": "Supabase: Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Update Source": {
      "main": [[{ "node": "Extraction: Process", "type": "main", "index": 0 }]]
    },
    "Extraction: Process": {
      "main": [
        [{ "node": "Extraction: Link", "type": "main", "index": 0 }],
        [{ "node": "Supabase: Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Extraction: Link": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
